/combined/simulator.sdf
/combined/simulator.suo
/combined/Debug
/combined/simulator.sdf
/combined/simulator.suo
/combined/simulator.suo
/combined/Debug
/*.sln
/*.suo
/*.sdf
/combined/faction stuff.sdf
/combined/simulator.sdf
/combined/simulator.suo
